
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 100;
  src: local('Noto Sans Japanese Thin'), local('NotoSansJapanese-Thin'),
       url('~@kosys-docs/vuepress-theme-print/styles/fonts/NotoSansJP-Thin.otf') format('opentype');
}
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 300;
  src: local('Noto Sans Japanese Light'), local('NotoSansJapanese-Light'),
       url('~@kosys-docs/vuepress-theme-print/styles/fonts/NotoSansJP-Light.otf') format('opentype');
}
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans Japanese Regular'), local('NotoSansJapanese-Regular'),
       url('~@kosys-docs/vuepress-theme-print/styles/fonts/NotoSansJP-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 500;
  src: local('Noto Sans Japanese Medium'), local('NotoSansJapanese-Medium'),
       url('~@kosys-docs/vuepress-theme-print/styles/fonts/NotoSansJP-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 900;
  src: local('Noto Sans Japanese Black'), local('NotoSansJapanese-Black'),
       url('~@kosys-docs/vuepress-theme-print/styles/fonts/NotoSansJP-Black.otf') format('opentype');
}
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans Japanese Bold'), local('NotoSansJapanese-Bold'),
       url('~@kosys-docs/vuepress-theme-print/styles/fonts/NotoSansJP-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'Noto Serif JP';
  font-style: normal;
  font-weight: 200;
  src: local('Noto Serif JP ExtraLight'), local('NotoSerifJP-ExtraLight'),
       url('~@kosys-docs/vuepress-theme-print/styles/fonts/NotoSerifJP-ExtraLight.otf') format('opentype');
}
@font-face {
  font-family: 'Noto Serif JP';
  font-style: normal;
  font-weight: 300;
  src: local('Noto Serif JP Light'), local('NotoSerifJP-Light'),
       url('~@kosys-docs/vuepress-theme-print/styles/fonts/NotoSerifJP-Light.otf') format('opentype');
}
@font-face {
  font-family: 'Noto Serif JP';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Serif JP'), local('NotoSerifJP-Regular'),
       url('~@kosys-docs/vuepress-theme-print/styles/fonts/NotoSerifJP-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'Noto Serif JP';
  font-style: normal;
  font-weight: 500;
  src: local('Noto Serif JP Medium'), local('NotoSerifJP-Medium'),
       url('~@kosys-docs/vuepress-theme-print/styles/fonts/NotoSerifJP-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'Noto Serif JP';
  font-style: normal;
  font-weight: 600;
  src: local('Noto Serif JP SemiBold'), local('NotoSerifJP-SemiBold'),
       url('~@kosys-docs/vuepress-theme-print/styles/fonts/NotoSerifJP-SemiBold.otf') format('opentype');
}
@font-face {
  font-family: 'Noto Serif JP';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Serif JP Bold'), local('NotoSerifJP-Bold'),
       url('~@kosys-docs/vuepress-theme-print/styles/fonts/NotoSerifJP-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'Noto Serif JP';
  font-style: normal;
  font-weight: 900;
  src: local('Noto Serif JP Black'), local('NotoSerifJP-Black'),
       url('~@kosys-docs/vuepress-theme-print/styles/fonts/NotoSerifJP-Black.otf') format('opentype');
}
@font-face {
  font-family: 'Custom Emoji Font';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Emoji Regular'), local('Noto Emoji'),
       url('~@kosys-docs/vuepress-theme-print/styles/fonts/NotoEmoji-Regular.ttf') format('truetype');
}