@charset "utf-8";

@import "fonts";
    
@page {
    counter-increment: doc-page;
    size: A5;
    bleed: 3mm;
    margin: 15mm 15mm 10mm 15mm;
}

@page:left {

    @top-left {
        font-size: 9pt;
        content: counter(doc-page);
        border-bottom: solid black 1px;
        margin-bottom: 5mm;
    }

}

@page:right {
    @top-right {
        font-size: 9pt;
        content: counter(doc-page);
        border-bottom: solid black 1px;
        margin-bottom: 5mm;
    }
}

body {
    font-family: 'Source Han Serif', 'Source Han Serif JP', 'Noto Serif JP', 'Custom Emoji Font', serif;
    font-size: 10pt;
    font-weight: 300;
}

h1, h2, h3, h4, h5 {
    font-family: 'Source Han Sans', 'Source Han Sans JP', 'Noto Sans JP', 'Custom Emoji Font', sans-serif;
}

.section-content h1,
.chapter-cover .description h1 {
    display: none;
}

p {
    text-indent: 1rem;
}

img { max-width:  100%; }


