<!DOCTYPE html>
<html lang="{{ lang }}" class="print">

<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    {{{ renderStyles() }}}
    {{{ overrideStyle }}}
</head>

<body>
<!--vue-ssr-outlet-->
</body>

</html>