<template>
  <div>
    <table class="financialSheet">
      <colgroup>
        <col class="col-accountName">
        <col class="col-balance">
        <col class="col-balance">
        <col class="col-balance">
      </colgroup>
      <thead>
        <tr>
          <th>科目</th>
          <th colspan="3">金額</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in sheetData" :class="item.cssClass">
          <td class="accountName">{{ item.accountName }}</td>
          <td class="balance balance-1">{{ item.balance1 | formatCurrency }}</td>
          <td class="balance balance-2">{{ item.balance2 | formatCurrency }}</td>
          <td class="balance balance-3">{{ item.balance3 | formatCurrency }}</td>
        </tr>
      </tbody>
    </table>

  </div>
</template>

<script>
export default {
  props: ['sheetData'],
  filters: {
    formatCurrency: function (value) {
      if (value === null) { return ""; }
      var isNegative = false;
      if (value < 0) { isNegative = true; value = -value; }

      
      const formatter = new Intl.NumberFormat('ja-JP');
      var formattedString = (isNegative ? "△ " : "") + formatter.format(value);
      return formattedString;

    }
  }
};
</script>
